
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@using EmlakOfisi.Models.Entity;
@model List<Resimler>
<table class=" table table-bordered">
    <tr>
        <th>Resim ID</th>
        <th>Ortayol</th>
       
    
    </tr>
    <tbody>

        @foreach (Resimler ilan in Model)
        {
            <tr>
                <td>@ilan.ResimID</td>
                <td><img src="@ilan.OrtaYol" width="100" height="100" /></td>
                
                @*<td>@ilan.Resimler.OrtaYol</td>*@

               

            </tr>

        }



    </tbody>
</table>

