
@{
    ViewBag.Title = "Roller";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@model List<string>
@* Rol eklemek için kullanılan link *@
<a href="/Rol/RolEkle" class=" btn btn-primary">Yeni Rol Ekle</a>
<br />
<br />

@* Eklenecek rolün parametrelerini almak için tablo oluşturuldu. *@
<table class=" table table-bordered">
    <tr>
        <th>Rol Adı</th>
        <th>Sil</th>
     
    </tr>
    <tbody>

        @foreach (string rol in Model)
        {
            <tr>
                <td>@rol</td>
                
                <td><a href="#" class=" btn btn-danger rolSil" data-roladi="@rol">SİL</a></td>
            
            </tr>
        }


    </tbody>
</table>
